{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl d="statistic.bo.default" l='tool.title'}{/block}

{block name="check-auth"}
    {check_auth role="ADMIN" resource="admin.module" access="VIEW" module="Statistic" login_tpl="/admin/login"}
{/block}

{block name="main-content"}
    {default_translation_domain domain='statistic.bo.default'}
    <div class="statistic_tool">
        <div id="wrapper" class="container">
            <ul class="breadcrumb">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/tools'}">{intl l="Tools"}</a></li>
                <li>
                    <a href="{url path='/admin/module/statistic/tool'}">{intl l="tool.title"}</a>
                </li>
            </ul>


            <!-- Statistic panel -->
            <div role="tabpanel">
                {$counterLI = 0}
                {$counterPAN = 0}
                {hookblock name="statistic.tab"}
                    <ul class="nav nav-tabs" role="tablist">
                        {forhook rel="statistic.tab"}
                            <li {if $counterLI == 0 }class="active"{/if} role="presentation">
                                <a href="#{$tab_id}" role="tab" data-toggle="tab">
                                    {$tab_nav_title}
                                </a>
                            </li>
                            {$counterLI = 1}
                        {/forhook}
                    </ul>

                    <div class="tab-content">
                        {forhook rel="statistic.tab"}
                            <div class="tab-pane {if $counterPAN == 0 }active{/if}" id="{$tab_id}" role="tabpanel">
                                {$content nofilter}
                            </div>
                            {$counterPAN = 1}
                        {/forhook}
                    </div>
                {/hookblock}
            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}

    {javascripts file='assets/js/jqplot/jquery.jqplot.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jqplot/plugins/jqplot.highlighter.min.js'}
        <script type="text/javascript" src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jqplot/plugins/jqplot.barRenderer.min.js'}
        <script type="text/javascript" src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jqplot/plugins/jqplot.pieRenderer.min.js'}
        <script type="text/javascript" src="{$asset_url}"></script>
    {/javascripts}

    <script>
        var baseAdminUrl = "{url path="/admin"}";
    </script>

    {hook name='statistic.footer.js'}

    {*<script>*}

        {*jQuery(function ($) {*}
            {*function setDataTable(url, tableId) {*}
                {*$.ajax({*}
                    {*url: url + '?month=' + ( new Date().getMonth() + 1 ) + '&year=' + new Date().getFullYear()*}
                {*}).success(function (data) {*}
                    {*$('#' + tableId).html(JSON.stringify(data.series));*}
                {*})*}
            {*}*}
            {*// -- init*}

            {*$('#stat-select a').click(function (e) {*}
                {*$panel = $(this.hash);*}
                {*var button = $('button.active', $panel);*}
                {*setDataPlot(button.data('url'), button.data('toggle'));*}
            {*});*}


        {*});*}

    {*</script>*}
{/block}
