{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl d="statistic.bo.default" l='tool.title'}{/block}

{block name="check-auth"}
    {check_auth role="ADMIN" resource="admin.module" access="VIEW" module="Statistic" login_tpl="/admin/login"}
{/block}

{block name="main-content"}
    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li><a href="{url path='/admin/tools'}">{intl l="Tools"}</a></li>
        <li>
            <a href="{url path='/admin/module/statistic/tool'}">{intl l="tool.title"}</a>
        </li>
    </ul>
    {include file="statistic-content-tool.html"}

{/block}